@import "compass/reset";
@import "compass/css3";

// VARIABLES:
$c-bg-slider       : #1ABC9C;
$c-bg-slider-hover : #48C9B0;

// GLOBAL STYLES:
html, body {
	height: 100%;
}

body {
	background: url("../img/tree-bark.png") repeat;
	font-family: Trebuchet MS, sans-serif;
	font-size: 14px;
	font-weight: normal;
}

:focus {
	outline: none;
}

input {
	&[placeholder]:focus::-webkit-input-placeholder {
		-webkit-transition: color 0.3s linear;
				transition: color 0.3s linear;
		color: transparent;
	}

	&[placeholder]:focus::-moz-placeholder {
		color: transparent;
	}

}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
	background: #FFF;
}

// GENERATOR:
.generator {
	background: rgba(#FFF, 0.8);
    border: 2px solid rgba(#E7E7E7, 0.8);
	margin: 10px auto;
	max-width: 1002px;
	min-height: 650px;
	padding: 15px;
	left: 0; right: 0; top: 0; bottom: 0;
	margin: 30px auto;
	position: absolute;
}

.h1 {
	margin: 20px 0 35px;
	text-transform: uppercase;
}

// Generator options:
.gen__settings {
	margin: 0 0 30px;
}

.option-title {
	font-size: 1.8em;
	margin: 0 0 20px;
}

.create {
	@include transition(all 0.3s ease);

	background-color: $c-bg-slider;
	border-color: darken($c-bg-slider, 5%);
	border-style: solid;
	color: #FFF;
	font-weight: bold;
	line-height: 2.6em;
	margin: 17px auto;
	min-height: 40px;
	min-width: 140px;
	padding: 0 8px;
	text-align: center;

	&:hover {
		background-color: $c-bg-slider-hover;
		border-color: darken($c-bg-slider-hover, 5%);
	}
}

.row {
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}

.btn-info:focus,
.btn-info:active,
.btn-info:active:focus {
	outline: none;
}

// GENERATOR RESULTS:
.gen__results {
	text-align: center;

	textarea {
		-webkit-user-select: none;
		   -moz-user-select: none;
			-ms-user-select: none;
				user-select: none;

		-webkit-border-radius: 3px;
		        border-radius: 3px;
		display: inline-block;
		height: 255px;
		vertical-align: top;
		width: 40%;
	}

	input {
		display: block;
		margin: 20px auto;
		width: 220px;
	}

	.btn-success {
		@include transition(all 0.3s ease);

		background: $c-bg-slider;
		border-color: $c-bg-slider;

		&:hover {
			background: $c-bg-slider-hover;
			border-color: $c-bg-slider-hover;
		}
	}
}

// SLIDER:
.ui-slider {
	background: #EBEDEF;
	-webkit-border-radius: 10px;
			border-radius: 10px;
	height: 12px;
	margin: 7px 0 15px 0;
	position: relative;

	.ui-widget-header {
		-webkit-border-radius: 10px 0 0 10px;
				border-radius: 10px 0 0 10px;
		background: #1ABC9C;
	}

	.ui-slider-handle {
		@include transition(background-color 0.3s ease);

		-ms-touch-action: none;
			touch-action: none;
		background-color: #16A085;
		border-radius: 18px;
		cursor: pointer;
		height: 18px;
		margin-left: -6px;
		position: absolute;
		top: -3px;
		width: 18px;
		z-index: 2;

		&:hover,
		&:focus {
			background-color: #48C9B0;
			outline: none;
		}
	}
}

.ui-slider-range {
	height: 100%;
	left: 0;
	top: 0;
}


// TOOLTIP:
.tooltip-inner {
	background: #FF8993;
	padding: 7px 12px;
}

.tooltip.right .tooltip-arrow {
	border-right-color: #FF8993;
}
