/* line 17, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 10, ../../src/sass/main.scss */
html, body {
  height: 100%;
}

/* line 14, ../../src/sass/main.scss */
body {
  background: url("../img/tree-bark.png") repeat;
  font-family: Trebuchet MS, sans-serif;
  font-size: 14px;
  font-weight: normal;
}

/* line 21, ../../src/sass/main.scss */
:focus {
  outline: none;
}

/* line 26, ../../src/sass/main.scss */
input[placeholder]:focus::-webkit-input-placeholder {
  -webkit-transition: color 0.3s linear;
  transition: color 0.3s linear;
  color: transparent;
}
/* line 32, ../../src/sass/main.scss */
input[placeholder]:focus::-moz-placeholder {
  color: transparent;
}

/* line 40, ../../src/sass/main.scss */
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  background: #FFF;
}

/* line 45, ../../src/sass/main.scss */
.generator {
  background: rgba(255, 255, 255, 0.8);
  border: 2px solid rgba(231, 231, 231, 0.8);
  margin: 10px auto;
  max-width: 1002px;
  min-height: 650px;
  padding: 15px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 30px auto;
  position: absolute;
}

/* line 57, ../../src/sass/main.scss */
.h1 {
  margin: 20px 0 35px;
  text-transform: uppercase;
}

/* line 63, ../../src/sass/main.scss */
.gen__settings {
  margin: 0 0 30px;
}

/* line 67, ../../src/sass/main.scss */
.option-title {
  font-size: 1.8em;
  margin: 0 0 20px;
}

/* line 72, ../../src/sass/main.scss */
.create {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: #1abc9c;
  border-radius: 5px;
  border: 3px solid #17a689;
  color: #FFF;
  font-weight: bold;
  line-height: 2.6em;
  margin: 17px auto;
  min-height: 40px;
  min-width: 140px;
  padding: 0 8px;
  text-align: center;
}
/* line 87, ../../src/sass/main.scss */
.create:hover {
  background-color: #48c9b0;
  border-color: #38bfa5;
}

/* line 93, ../../src/sass/main.scss */
.row {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 102, ../../src/sass/main.scss */
.btn-info:focus,
.btn-info:active,
.btn-info:active:focus {
  outline: none;
}

/* line 107, ../../src/sass/main.scss */
.gen__results {
  text-align: center;
}
/* line 110, ../../src/sass/main.scss */
.gen__results textarea {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  height: 255px;
  vertical-align: top;
  width: 40%;
}
/* line 124, ../../src/sass/main.scss */
.gen__results input {
  background: #FFF;
  display: block;
  margin: 20px auto;
  width: 220px;
}
/* line 131, ../../src/sass/main.scss */
.gen__results input:hover, .gen__results input:focus {
  background: #FFF;
}

/* line 137, ../../src/sass/main.scss */
.btn-success {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: #1abc9c;
  border-color: #1abc9c;
}
/* line 143, ../../src/sass/main.scss */
.btn-success:hover {
  background: #48c9b0;
  border-color: #48c9b0;
}

/* line 150, ../../src/sass/main.scss */
.ui-slider {
  background: #EBEDEF;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  height: 12px;
  margin: 7px 0 15px 0;
  position: relative;
}
/* line 158, ../../src/sass/main.scss */
.ui-slider .ui-widget-header {
  -webkit-border-radius: 10px 0 0 10px;
  border-radius: 10px 0 0 10px;
  background: #1ABC9C;
}
/* line 164, ../../src/sass/main.scss */
.ui-slider .ui-slider-handle {
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  -ms-touch-action: none;
  touch-action: none;
  background-color: #16A085;
  border-radius: 18px;
  cursor: pointer;
  height: 18px;
  margin-left: -6px;
  position: absolute;
  top: -3px;
  width: 18px;
  z-index: 2;
}
/* line 180, ../../src/sass/main.scss */
.ui-slider .ui-slider-handle:hover, .ui-slider .ui-slider-handle:focus {
  background-color: #48C9B0;
  outline: none;
}

/* line 187, ../../src/sass/main.scss */
.ui-slider-range {
  height: 100%;
  left: 0;
  top: 0;
}

/* line 194, ../../src/sass/main.scss */
.modal {
  background: rgba(255, 255, 255, 0.95);
  border: 1px solid rgba(231, 231, 231, 0.5);
  border-radius: 4px;
  height: 500px;
  margin: auto;
  padding: 10px;
  width: 500px;
}
/* line 203, ../../src/sass/main.scss */
.modal .modal-dialog {
  margin: 0;
  width: 100%;
}
/* line 208, ../../src/sass/main.scss */
.modal h2 {
  font-size: 36px;
}
/* line 212, ../../src/sass/main.scss */
.modal h4 {
  color: #CCC;
  font-size: 16px;
}

/* line 218, ../../src/sass/main.scss */
.modal-label {
  color: #CCC;
  float: left;
  margin: 0 10px 0 0;
  text-align: right;
  width: 110px;
}

/* line 226, ../../src/sass/main.scss */
.modal-row {
  overflow: hidden;
  *zoom: 1;
  line-height: 20px;
  margin: 0 0 30px;
}

/* line 232, ../../src/sass/main.scss */
.modal-result {
  overflow: hidden;
}

/* line 236, ../../src/sass/main.scss */
.close {
  position: relative;
  z-index: 2;
}

/* line 242, ../../src/sass/main.scss */
.tooltip-inner {
  background: #FF8993;
  padding: 9px 16px;
}

/* line 247, ../../src/sass/main.scss */
.tooltip.right .tooltip-arrow {
  border-right-color: #FF8993;
}
