body {
  background: #ECECEC;
  font-family: Trebuchet MS, sans-serif;
  font-size: 14px;
  font-weight: normal; }

:focus {
  outline: none; }

input[placeholder]:focus::-webkit-input-placeholder {
  -webkit-transition: color 0.3s linear;
  transition: color 0.3s linear;
  color: transparent; }
input[placeholder]:focus::-moz-placeholder {
  color: transparent; }

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  background: #FFF; }

.generator {
  background: #FFF;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin: 10px auto;
  max-width: 1002px;
  min-height: 650px;
  padding: 15px; }

.h1 {
  text-transform: uppercase; }

.gen__settings {
  margin: 0 0 30px; }

.create {
  background-color: #77C0ED;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #77c0ed), color-stop(100%, #5db2e8));
  background-image: -webkit-linear-gradient(top, #77c0ed, #5db2e8);
  background-image: -moz-linear-gradient(top, #77c0ed, #5db2e8);
  background-image: linear-gradient(to bottom, #77c0ed, #5db2e8);
  background-repeat: repeat-y;
  border-color: #3181B4;
  border-style: solid;
  -webkit-box-shadow: 0 1px 0 #CCE7F8 inset;
  box-shadow: 0 1px 0 #CCE7F8 inset;
  color: #FFF;
  font-weight: bold;
  line-height: 2.6em;
  margin: 50px auto;
  min-height: 40px;
  min-width: 140px;
  padding: 0 8px;
  text-align: center; }

.row {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.btn-info:focus,
.btn-info:active,
.btn-info:active:focus {
  outline: none; }

.gen__results {
  text-align: center; }
  .gen__results textarea {
    -webkit-border-radius: 3px;
    border-radius: 3px;
    display: inline-block;
    height: 110px;
    vertical-align: top;
    width: 220px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .gen__results input {
    display: block;
    margin: 20px auto;
    width: 220px; }

.ui-slider {
  margin: 15px 0;
  width: 100%; }

.tooltip-inner {
  background: #FF8993;
  padding: 7px 12px; }

.tooltip.right .tooltip-arrow {
  border-right-color: #FF8993; }
